<!--
This file is part of AudioCuesheetEditor.

AudioCuesheetEditor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

AudioCuesheetEditor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see
<http: //www.gnu.org/licenses />.
-->
@using Toolbelt.Blazor.HotKeys
@implements IDisposable

@inject IStringLocalizer<Localization> localizer
@inject IHowl Howl
@inject IHowlGlobal HowlGlobal
@inject HotKeys HotKeys
@inject IJSRuntime JSRuntime
@inject HttpClient httpent

<Card>
    <CardHeader><h3>@localizer["AudioPlayer"]</h3></CardHeader>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnWidescreen.Is3.OnTablet.Is4.OnMobile">
                @if (CurrentPlaybackPosition != null)
                {
                    @CurrentPlaybackPosition
                }
                else
                {
                    @String.Format("--{0}--{1}--", CultureInfo.CurrentCulture.DateTimeFormat.TimeSeparator, CultureInfo.CurrentCulture.DateTimeFormat.TimeSeparator)
                }
            </Column>
            <Column ColumnSize="ColumnSize.Is10.OnFullHD.Is8.OnWidescreen.Is6.OnTablet.Is4.OnMobile">
                <Slider TValue="double" Min="0.0" Max="100.0" ValueChanged="OnSliderValueChanged" Value="CurrentSliderValue"></Slider>
            </Column>
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnWidescreen.Is3.OnTablet.Is4.OnMobile">
                @if (TotalTime != null)
                {
                    @TotalTime
                }
                else
                {
                    @String.Format("--{0}--{1}--", CultureInfo.CurrentCulture.DateTimeFormat.TimeSeparator, CultureInfo.CurrentCulture.DateTimeFormat.TimeSeparator)
                }
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnWidescreen.Is3.OnTablet.Is4.OnMobile">
                @if (AudioIsPlaying == true)
                {
                    <Button Color="Color.Primary" Class="oi oi-media-pause" Clicked="OnPlayClicked" Disabled="!PlaybackPossible" />
                }
                else
                {
                    <Button Color="Color.Primary" Class="oi oi-media-play" Clicked="OnPlayClicked" Disabled="!PlaybackPossible" />
                }
            </Column>
            <Column>
                <Tooltip Placement="Placement.Top" Text="@localizer["PlayPreviousTrackTooltip"]">
                    <Button Color="Color.Secondary" Class="oi oi-media-step-backward" Clicked="() => OnPlayNextPreviousTrackClicked(true)" Disabled="!(PlaybackPossible && PreviousButtonEnabled)" />
                </Tooltip>
                <Button Color="Color.Primary" Class="oi oi-media-stop" Clicked="() => Howl.Stop()" />
                <Tooltip Placement="Placement.Top" Text="@localizer["PlayNextTrackTooltip"]">
                    <Button Color="Color.Secondary" Class="oi oi-media-step-forward" Clicked="() => OnPlayNextPreviousTrackClicked()" Disabled="!(PlaybackPossible && NextButtonEnabled)" />
                </Tooltip>
            </Column>
        </Row>
    </CardBody>
</Card>

@code {
    private Timer audioUpdateTimer;
    private int? soundId;
    private Track currentlyPlayingTrack;
    private HotKeysContext hotKeysContext;
    private Boolean paused;
    private AudioFile audioFile;
    private Cuesheet cuesheet;

    [Parameter]
    public Cuesheet Cuesheet
    {
        get { return cuesheet; }
        set
        {
            if (cuesheet != null)
            {
                cuesheet.AudioFileChanged -= Cuesheet_AudioFileChanged;
                if (cuesheet.AudioFile != null)
                {
                    cuesheet.AudioFile.ContentStreamLoaded -= AudioFile_ContentStreamLoaded;
                }
            }
            cuesheet = value;
            if (cuesheet != null)
            {
                cuesheet.AudioFileChanged += Cuesheet_AudioFileChanged;
                if (cuesheet.AudioFile != null)
                {
                    if (cuesheet.AudioFile.IsContentStreamLoaded == false)
                    {
                        cuesheet.AudioFile.ContentStreamLoaded += AudioFile_ContentStreamLoaded;
                    }
                    else
                    {
                        AnalyseAudioFile();
                    }
                }
            }
        }
    }

    [Parameter]
    public EventCallback<Track> CurrentlyPlayingTrackChanged { get; set; }

    public TimeSpan? CurrentPlaybackPosition { get; private set; }
    public TimeSpan? TotalTime { get; private set; }
    public Boolean AudioIsPlaying { get; private set; }

    public void Dispose()
    {
        hotKeysContext.Dispose();
    }

    public Boolean PlaybackPossible
    {
        get { return ((Cuesheet != null) && (Cuesheet.AudioFile != null) && (Cuesheet.AudioFile.PlaybackPossible == true)); }
    }

    public Boolean PreviousButtonEnabled
    {
        get
        {
            Boolean enabled = false;
            if (CurrentlyPlayingTrack != null)
            {
                var index = Cuesheet.Tracks.ToList().IndexOf(CurrentlyPlayingTrack);
                if (index >= 1)
                {
                    enabled = true;
                }
            }
            return enabled;
        }
    }

    public Boolean NextButtonEnabled
    {
        get
        {
            Boolean enabled = false;
            if (CurrentlyPlayingTrack != null)
            {
                var index = Cuesheet.Tracks.ToList().IndexOf(CurrentlyPlayingTrack);
                if (index < (Cuesheet.Tracks.Count - 1))
                {
                    enabled = true;
                }
            }
            return enabled;
        }
    }

    public Track CurrentlyPlayingTrack
    {
        get { return currentlyPlayingTrack; }
        private set
        {
            //Only fire the update, if the value has changed
            if (value != currentlyPlayingTrack)
            {
                currentlyPlayingTrack = value;
                CurrentlyPlayingTrackChanged.InvokeAsync(CurrentlyPlayingTrack);
            }
        }
    }

    protected Double CurrentSliderValue
    {
        get
        {
            Double sliderValue = 0.0;
            if ((TotalTime != null) && (CurrentPlaybackPosition != null))
            {
                sliderValue = (CurrentPlaybackPosition.Value / TotalTime.Value) * 100.0;
            }
            return sliderValue;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //Attach shortcuts
        hotKeysContext = HotKeys.CreateContext()
            .Add(ModKeys.Ctrl, Keys.P, OnPlayClicked)
            .Add(ModKeys.Ctrl, Keys.Left, () => OnPlayNextPreviousTrackClicked(true))
            .Add(ModKeys.Ctrl, Keys.Right, () => OnPlayNextPreviousTrackClicked())
            .Add(ModKeys.None, Keys.MediaPlayPause, OnPlayClicked)
            .Add(ModKeys.None, Keys.MediaTrackNext, () => OnPlayNextPreviousTrackClicked())
            .Add(ModKeys.None, Keys.MediaTrackPrevious, () => OnPlayNextPreviousTrackClicked(true));
        //Attach media keys
        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("GLOBAL.SetAudioPlayerReference", dotNetReference);
        //Setup audio timer
        audioUpdateTimer = new Timer(500);
        audioUpdateTimer.AutoReset = true;
        audioUpdateTimer.Elapsed += async delegate
        {
            AudioIsPlaying = await Howl.IsPlaying();
            if (AudioIsPlaying == true)
            {
                CurrentPlaybackPosition = await Howl.GetCurrentTime();
                if (TotalTime.HasValue == false)
                {
                    TotalTime = Howl.TotalTime;
                }
            }
            if ((Cuesheet != null) && (CurrentPlaybackPosition.HasValue == true))
            {
                CurrentlyPlayingTrack = Cuesheet.Tracks.SingleOrDefault(x => x.Begin.HasValue == true && x.End.HasValue == true && x.Begin.Value <= CurrentPlaybackPosition.Value && x.End.Value > CurrentPlaybackPosition.Value);
            }
            StateHasChanged();
        };

        Howl.OnPlay += e =>
        {
            paused = false;
            audioUpdateTimer.Start();
        };

        Howl.OnPause += e =>
        {
            paused = true;
        };

        Howl.OnEnd += e =>
        {
            paused = false;
            audioUpdateTimer.Stop();
            CurrentlyPlayingTrack = null;
            CurrentPlaybackPosition = null;
            AudioIsPlaying = false;
            StateHasChanged();
        };

        Howl.OnStop += e =>
        {
            paused = false;
            audioUpdateTimer.Stop();
            CurrentlyPlayingTrack = null;
            CurrentPlaybackPosition = null;
            AudioIsPlaying = false;
            soundId = null;
            StateHasChanged();
        };
    }

    private async Task OnSliderValueChanged(Double newvalue)
    {
        var newPosition = newvalue * TotalTime.Value / 100.0;
        if ((paused == true) || (AudioIsPlaying == false))
        {
            await OnPlayClicked();
        }
        await Howl.Seek(newPosition);
    }

    private async Task OnPlayClicked()
    {
        if (Cuesheet.AudioFile != audioFile)
        {
            soundId = null;
        }
        if (soundId != null)
        {
            await Howl.Pause(soundId);
            StateHasChanged();
        }
        else
        {
            if ((Cuesheet == null) || (Cuesheet.AudioFile == null) || (Cuesheet.AudioFile.PlaybackPossible == false))
            {
                throw new ArgumentNullException(nameof(Cuesheet.AudioFile));
            }
            var options = new HowlOptions
            {
                Sources = new[] { Cuesheet.AudioFile.ObjectURL },
                Formats = new[] { Cuesheet.AudioFile.AudioFileType.ToLower() },
                Html5 = true
            };
            audioFile = Cuesheet.AudioFile;
            soundId = await Howl.Play(options);
        }
    }

    public async Task OnPlayTrackClicked(Track trackToPlay)
    {
        if ((trackToPlay != null) && (trackToPlay.Begin != null))
        {
            if (AudioIsPlaying == false)
            {
                await OnPlayClicked();
            }
            await Howl.Seek(trackToPlay.Begin.Value);
            StateHasChanged();
        }
    }

    private async Task OnPlayNextPreviousTrackClicked(Boolean previous = false)
    {
        if (CurrentlyPlayingTrack != null)
        {
            var index = Cuesheet.Tracks.ToList().IndexOf(CurrentlyPlayingTrack);
            Track trackToPlay = null;
            if (previous == false)
            {
                trackToPlay = Cuesheet.Tracks.ElementAtOrDefault(index + 1);
            }
            else
            {
                trackToPlay = Cuesheet.Tracks.ElementAtOrDefault(index - 1);
            }
            await OnPlayTrackClicked(trackToPlay);
        }
    }

    private void Cuesheet_AudioFileChanged(object sender, EventArgs args)
    {
        if (Cuesheet.AudioFile != null)
        {
            Cuesheet.AudioFile.ContentStreamLoaded += AudioFile_ContentStreamLoaded;
        }
        TotalTime = null;
    }

    private void AudioFile_ContentStreamLoaded(object sender, EventArgs args)
    {
        AnalyseAudioFile();
    }

    private void AnalyseAudioFile()
    {
        if ((Cuesheet != null) && (Cuesheet.AudioFile != null) && (Cuesheet.AudioFile.Duration.HasValue) && (TotalTime.HasValue == false))
        {
            TotalTime = Cuesheet.AudioFile.Duration.Value;
        }
    }
}
