<!--
This file is part of AudioCuesheetEditor.

AudioCuesheetEditor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

AudioCuesheetEditor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see
<http: //www.gnu.org/licenses />.
-->

@implements IDisposable

@inject ITextLocalizer<TrackList> _localizer
@inject SessionStateContainer _sessionStateContainer
@inject ILocalStorageOptionsProvider _localStorageOptionsProvider
@inject TraceChangeManager _traceChangeManager
@inject ILogger<TrackList> _logger
@inject ITextLocalizerService _localizationService
@inject ITextLocalizer<ValidationMessage> _validationMessageLocalizer

<Validations @ref="validations">
    @if (_sessionStateContainer.CurrentViewMode == ViewMode.ViewModeFull)
    {
        var validationResult = Cuesheet?.Validate(x => x.Tracks);
        <Alert Color="Color.Danger" Visible="validationResult?.Status == Model.Entity.ValidationStatus.Error">
            <Heading Size="HeadingSize.Is4">
                @_localizer["Validation errors"]
            </Heading>
            @if (validationResult?.ValidationMessages != null)
            {
                @foreach(var message in validationResult.ValidationMessages)
                {
                    <Paragraph>@message.GetMessageLocalized(_validationMessageLocalizer)</Paragraph>
                }
            }
        </Alert>
        <TrackListControlButtons 
            SelectedTracks="selectedTracks" 
            AddButtonClicked="OnAddTrackClicked" 
            EditSelectedTracksClicked="EditSelectedTracksClicked" 
            DeleteSelectedTracksClicked="DeleteSelectedTracksClicked" 
            DeleteAllTracksClicked="OnDeleteAllTracksClicked"
            FixedTableHeader="PinnedTableHeader"
            FixedTableHeaderChanged="(newValue) => PinnedTableHeader = newValue"
            TrackSelectionVisible="TrackSelectionVisible" 
            TrackSelectionVisibleChanged="(newValue) => TrackSelectionVisible = newValue" />
    }

    <Table Bordered Resizable ResizeMode="TableResizeMode.Columns" Narrow FixedHeader="PinnedTableHeader" FixedHeaderTableHeight="" FixedHeaderTableMaxHeight="70vh">
        <TableHeader ThemeContrast="ThemeContrast.Light">
            <TableRow>
                @if ((_sessionStateContainer.CurrentViewMode == ViewMode.ViewModeFull) && (TrackSelectionVisible))
                {
                    <TableHeaderCell>
                        <Div Class="d-flex align-items-center">
                            @if (Cuesheet?.Tracks.Count > 0)
                            {
                                <Tooltip Placement="TooltipPlacement.Right" Text="@_localizer["Select all"]">
                                    <Check TValue="bool" CheckedChanged="OnSelectAllTracks" Checked="AllTracksSelected" Indeterminate="SelectAllIndeterminate" />
                                </Tooltip>
                            }
                            @_localizer["Selection"]
                        </Div>
                    </TableHeaderCell>
                }
                @switch (_sessionStateContainer.CurrentViewMode)
                {
                    case ViewMode.ViewModeFull:
                    case ViewMode.ViewModeImport:
                        <TableHeaderCell>@_localizer["Controls"]</TableHeaderCell>
                        break;
                    case ViewMode.ViewModeRecord:
                        <TableHeaderCell>@_localizer["Controls"]</TableHeaderCell>
                        break;
                }
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>@_localizer["Artist"]</TableHeaderCell>
                <TableHeaderCell>@_localizer["Title"]</TableHeaderCell>
                <TableHeaderCell>@_localizer["Begin"]</TableHeaderCell>
                <TableHeaderCell>@_localizer["End"]</TableHeaderCell>
                <TableHeaderCell Display="Display.TableCell.OnDesktop.None.OnTablet.None.OnMobile">@_localizer["Length"]</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            <TrackListItem AudioPlayer="AudioPlayer" SelectedTracks="selectedTracks" TrackSelectionVisible="TrackSelectionVisible" SelectedTracksChanged="(newSelectedTracks) => selectedTracks = newSelectedTracks" />
        </TableBody>
    </Table>
</Validations>

<ModalDialog @ref="modalDialog" />
<EditTrackModal @ref="modalTrackEdit" SaveClicked="() => StateHasChanged()" />

@code {
    ModalDialog? modalDialog;
    EditTrackModal? modalTrackEdit;
    List<Track> selectedTracks = new();
    Validations? validations;
    Boolean revalidate = false;
    List<Track> TracksAttachedToValidateablePropertyChanged = new();
    ApplicationOptions? applicationOptions;

    [Parameter]
    public AudioPlayer? AudioPlayer { get; set; }

    public Cuesheet? Cuesheet
    {
        get
        {
            Cuesheet? cuesheet;
            switch (_sessionStateContainer.CurrentViewMode)
            {
                case ViewMode.ViewModeImport:
                    cuesheet = _sessionStateContainer.ImportCuesheet;
                    break;
                default:
                    cuesheet = _sessionStateContainer.Cuesheet;
                    break;
            }
            return cuesheet;
        }
    }

    public Boolean TrackSelectionVisible
    {
        get
        {
            if (applicationOptions != null)
            {
                return applicationOptions.TracksTableSelectionVisible;
            }
            return false;
        }
        set
        {
            _localStorageOptionsProvider.SaveOptionsValue<ApplicationOptions>(x => x.TracksTableSelectionVisible, value);
            selectedTracks = new();
        }
    }

    public Boolean PinnedTableHeader
    {
        get
        {
            if (applicationOptions != null)
            {
                return applicationOptions.TracksTableHeaderPinned;
            }
            return false;
        }
        set
        {
            _localStorageOptionsProvider.SaveOptionsValue<ApplicationOptions>(x => x.TracksTableHeaderPinned, value);
        }
    }

    public void Dispose()
    {
        _localizationService.LocalizationChanged -= LocalizationService_LocalizationChanged;
        _sessionStateContainer.CuesheetChanged -= SessionStateContainer_CuesheetChanged;
        _sessionStateContainer.ImportCuesheetChanged -= SessionStateContainer_ImportCuesheetChanged;
        _sessionStateContainer.Cuesheet.TracksRemoved -= Cuesheet_TracksRemoved;
        _sessionStateContainer.Cuesheet.TracksAdded -= Cuesheet_TracksAdded;
        _localStorageOptionsProvider.OptionSaved -= LocalStorageOptionsProvider_OptionsSaved;
        DetachTrackFromValidateablePropertyChanged();
        DetachCuesheetFromSplitPointsAddedRemoved();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _localizationService.LocalizationChanged += LocalizationService_LocalizationChanged;

        _sessionStateContainer.CuesheetChanged += SessionStateContainer_CuesheetChanged;
        _sessionStateContainer.ImportCuesheetChanged += SessionStateContainer_ImportCuesheetChanged;

        _sessionStateContainer.Cuesheet.TracksAdded += Cuesheet_TracksAdded;
        _sessionStateContainer.Cuesheet.TracksRemoved += Cuesheet_TracksRemoved;

        AttachTracksToValidateablePropertyChanged();
        AttachCuesheetToSplitPointsAddedRemoved();

        applicationOptions = await _localStorageOptionsProvider.GetOptions<ApplicationOptions>();
        _localStorageOptionsProvider.OptionSaved += LocalStorageOptionsProvider_OptionsSaved;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        _logger.LogDebug("OnAfterRenderAsync({firstRender})", firstRender);
        if ((revalidate) && (validations != null))
        {
            await validations.ValidateAll();
            revalidate = false;
        }
    }

    void OnAddTrackClicked()
    {
        var newTrack = new Track();
        Cuesheet?.AddTrack(newTrack, applicationOptions);
        _traceChangeManager.TraceChanges(newTrack);
    }

    async Task EditSelectedTracksClicked()
    {
        if (modalTrackEdit != null)
        {
            modalTrackEdit.TracksToEdit = selectedTracks;
            await modalTrackEdit.Show();
        }
    }

    private void DeleteSelectedTracksClicked()
    {
        Cuesheet?.RemoveTracks(selectedTracks.AsReadOnly());
        selectedTracks.Clear();
    }

    async Task OnDeleteAllTracksClicked()
    {
        _logger.LogInformation("OnDeleteAllTracksClicked");
        //Display a confirm warning
        if (modalDialog != null)
        {
            modalDialog.Title = _localizer["Confirmation required"];
            modalDialog.Text = _localizer["Do you really want to delete all tracks?"];
            modalDialog.ModalSize = ModalSize.Small;
            modalDialog.Mode = ModalDialog.DialogMode.Confirm;
            void deleteTracksDelegate(object? sender, EventArgs args)
            {
                _logger.LogInformation("deleteTracksDelegate");
                Cuesheet?.RemoveTracks(Cuesheet.Tracks);
                selectedTracks.Clear();
                modalDialog.Confirmed -= deleteTracksDelegate;
                StateHasChanged();
            };
            modalDialog.Confirmed += deleteTracksDelegate;
            await modalDialog.ShowModal();
        }
    }

    private String? GetLocalizedString(Boolean expressionToCheck, String localizedStringName)
    {
        if (expressionToCheck == true)
        {
            return _localizer[localizedStringName];
        }
        else
        {
            return null;
        }
    }

    bool SelectAllIndeterminate
    {
        get => selectedTracks.Count > 0 && selectedTracks.Count < Cuesheet?.Tracks.Count;
    }

    private void OnSelectAllTracks(bool select)
    {
        if (select)
        {
            if (Cuesheet != null)
            {
                foreach (var track in Cuesheet.Tracks)
                {
                    if (!selectedTracks.Contains(track))
                    {
                        selectedTracks.Add(track);
                    }
                }
            }
        }
        else
        {
            selectedTracks.Clear();
        }
    }

    bool AllTracksSelected
    {
        get => selectedTracks.Count > 0 && selectedTracks.Count == Cuesheet?.Tracks.Count;
    }

    private void LocalizationService_LocalizationChanged(object? sender, EventArgs args)
    {
        StateHasChanged();
        validations?.ValidateAll();
    }

    private MarkupString GetMarkupString(String? stringValue)
    {
        MarkupString result = new MarkupString(String.Empty);
        if (stringValue != null)
        {
            result = new MarkupString(stringValue);
        }
        return result;
    }

    private void SessionStateContainer_CuesheetChanged(object? sender, EventArgs args)
    {
        DetachTrackFromValidateablePropertyChanged();
        DetachCuesheetFromSplitPointsAddedRemoved();
        selectedTracks.Clear();
        StateHasChanged();
        AttachTracksToValidateablePropertyChanged();
        AttachCuesheetToSplitPointsAddedRemoved();
    }

    private void SessionStateContainer_ImportCuesheetChanged(object? sender, EventArgs args)
    {
        // Unsubscribe to previous attached events
        DetachCuesheetFromSplitPointsAddedRemoved();
        var tracks = TracksAttachedToValidateablePropertyChanged.Except(_sessionStateContainer.Cuesheet.Tracks);
        for (int i = tracks.Count() - 1; i >= 0; i--)
        {
            var track = tracks.ElementAt(i);
            DetachTrackFromValidateablePropertyChanged(track);
            TracksAttachedToValidateablePropertyChanged.Remove(track);
        }
        // Reattach if needed
        AttachTracksToValidateablePropertyChanged();
        AttachCuesheetToSplitPointsAddedRemoved();
        revalidate = true;
        StateHasChanged();
    }

    void Cuesheet_TracksAdded(object? sender, TracksAddedRemovedEventArgs args)
    {
        StateHasChanged();
        AttachTracksToValidateablePropertyChanged();
        revalidate = true;
    }

    void Cuesheet_TracksRemoved(object? sender, TracksAddedRemovedEventArgs args)
    {
        foreach(var track in args.Tracks)
        {
            DetachTrackFromValidateablePropertyChanged(track);
        }
        revalidate = true;
    }

    void AttachTracksToValidateablePropertyChanged()
    {
        if (Cuesheet != null)
        {
            foreach (var track in Cuesheet.Tracks)
            {
                if (TracksAttachedToValidateablePropertyChanged.Contains(track) == false)
                {
                    track.ValidateablePropertyChanged += Track_ValidateablePropertyChanged;
                    TracksAttachedToValidateablePropertyChanged.Add(track);
                }
            }
        }
    }

    void DetachTrackFromValidateablePropertyChanged(Track? track = null)
    {
        if (track == null)
        {
            foreach (var trackCurrentlyAttached in TracksAttachedToValidateablePropertyChanged)
            {
                trackCurrentlyAttached.ValidateablePropertyChanged -= Track_ValidateablePropertyChanged;            
            }
        }
        else
        {
            track.ValidateablePropertyChanged -= Track_ValidateablePropertyChanged;
        }
    }

    void Track_ValidateablePropertyChanged(object? sender, string property)
    {
        if (validations != null)
        {
            validations.ValidateAll().GetAwaiter().GetResult();
        }
        StateHasChanged();
    }

    void AttachCuesheetToSplitPointsAddedRemoved()
    {
        if (Cuesheet != null)
        {
            Cuesheet.SectionAdded += Cuesheet_SectionAdded;
            Cuesheet.SectionRemoved += Cuesheet_SectionRemoved;
        }
    }

    void DetachCuesheetFromSplitPointsAddedRemoved()
    {
        if (Cuesheet != null)
        {
            Cuesheet.SectionAdded -= Cuesheet_SectionAdded;
            Cuesheet.SectionRemoved -= Cuesheet_SectionRemoved;
        }
    }

    void Cuesheet_SectionAdded(object? sender, CuesheetSectionAddRemoveEventArgs args)
    {
        args.Section.ValidateablePropertyChanged += Section_ValidateablePropertyChanged;
    }

    void Cuesheet_SectionRemoved(object? sender, CuesheetSectionAddRemoveEventArgs args)
    {
        args.Section.ValidateablePropertyChanged -= Section_ValidateablePropertyChanged;
    }

    void Section_ValidateablePropertyChanged(object? sender, string property)
    {
        switch (property)
        {
            case nameof(CuesheetSection.Begin):
            case nameof(CuesheetSection.End):
                StateHasChanged();
                break;
        }
    }

    void LocalStorageOptionsProvider_OptionsSaved(object? sender, IOptions options)
    {
        if (options is ApplicationOptions applicationOption)
        {
            applicationOptions = applicationOption;
            StateHasChanged();
        }
    }
}
